<ul class="nav-list">
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="nav-item has-children">
      <details class="nav-submenu-toggle">
        <summary>{{ .Name }}</summary>
        <ul class="nav-submenu">
          {{ range .Children }}
          <li><a href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </details>
    </li>
    {{ else }}
    <li class="nav-item">
      <a href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>
